:root {
    --girs-oscuro: #222831;
    --girs-oscuro-transpoarente: #0a0b0cc9;
    --girs-claro: #393e46;
    --azul-celeste: #00adb5;
    --azul-celeste-hover: #008e96;
    --blanco-socuro: #eeeeee;
    --gris-botones-hover: #12151a;
    --status-active: #54e346;
    --letras-grises: #C1C1C1;
}